body {
  background-color: #FF0000;
}

.container {
  width: 1280px;
  min-height: 650px;
  background-color: #FF0000;
  background-image: url(../../assets/images/background.svg);
  background-repeat: no-repeat;
  background-position: center;
}