body {
  background-color: #FF0000;
  background-image: url(../../assets/images/background.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 1280px;
  min-height: 650px;
  background-color: #ff0000;
  background-image: url(./assets/images/background.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.head-vote {
  margin-top: 30px;
  margin-bottom: 30px;
}

.head-vote p {
  display: flex;
  justify-content: center;
  font-family: 'Saira';
  font-size: 32px;
  font-weight: 500;
  color: white;
  line-height: 85%;
}

.card-group {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  margin: 0px 5px;
}

.card-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
}

.card-header h3 {
  color: white;
  font-family: 'Saira';
  font-weight: 500;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.card-body img {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 80%;
  height: 80%;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
}

.card-body p {
  color: white;
  font-size: 18px;
  font-family: saira;
  font-weight: bold;
  margin-top: 20px;
}

.card-footer button {
  width: 300px;
  height: 60px;
  color: white;
  background-color: #FF0000;
  font-family: 'Saira';
  font-size: 20px;
  font-weight: bold;
  border: 1px white solid;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* modal */

.modal {
  font-family: 'Saira';
  font-weight: bold;
}

.modal-footer button {
  width: 125px;
  height: 40px;
  border: 1px white solid;
}


